

.big-container{
    width: 900px;
    height: 500px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.slider{
    width: 450px;
    height: 500px;
    float: left;
    display: flex;
    align-items: center;
    padding: 30px;
}

.ticket-generator{
    width: 450px;
    height: 500px;
    background-color: blue;
    float: left;
}

.my-slider img{
    height: 440px;
}

.checkout{
    width: 250px;
    height: 500px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 1s;
}
/*
.big-container:hover .checkout{
    left: calc(100% - 250px);
} */



.titolo{
    text-align: center;
}
