
.big-container{
    width: 900px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* SLIDER */
#slider{
    width: 450px;
    height: 500px;
    float: left;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: rgba(175, 175, 175, 0.6);
    transition: filter 1s;
}

.my-slider img{
    height: 400px;
}

.carousel{
    border: 20px solid white;
}

/* TICKET GENERATOR */
#ticket-generator{
    width: 450px;
    height: 500px;
    background-color: white;
    float: left;
    padding: 30px;
    transition: filter 1s;
}

.ticket-input{
    display: inline-block;
}

.titolo{
    text-align: center;
}

.my-btn{
    background-color: rgb(91, 91, 91);
    color: white;
    font-weight: 500;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* CHECKOUT */
#checkout{
    width: 250px;
    height: 500px;
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    transition: left 1s;
    color: rgba(0, 0, 0, 0.5);
}


#checkout span{
    color: black;
    font-weight: 500;
}

.titolo-check{
    color: black;
    margin-bottom: 40px;
}

.info-ticket div{
    margin-bottom: 10px;
}

.my-btn.pay{
    background-color: green;
}

.my-btn.cancel{
    background-color: red;
}


.right{
    left: 100%;
}

.left{
    left: calc(100% - 250px);
}

.darker{
    filter: brightness(0.5);
}
